.ChatBorder {
    position: absolute;
    /* border: 2px solid black; */
    width: 100%;
    top: 45px;
    left: 0;
    bottom: 60px;
    overflow-y: scroll;
    overflow-x: none;
    background: rgba(3, 218, 171, 0.24);
}

.ChatBorder .ChatList {
    margin: 0;
}

.ChatBorder .ChatItems {
    /* border: 2px solid black; */
    font-size: 20px;
    text-align: start;
    margin: 20px;
    margin-bottom: 20px;
}

.ChatBorder .MyChatItems {
    /* border: 2px solid black; */
    font-size: 20px;
    text-align: end;
    margin: 20px;
    margin-bottom: 20px;
}

.ChatBorder .Item {
    display: inline-block;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid white;
    border-radius: 30px;
    background: white;
}

.ChatBorder .Item2 {
    border: none;
    background: none;
}