@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');

.MeetSelect {
    display: flex;
    flex-direction: column;
}

.MeetSelect .MeetText {
    text-decoration: none;
    position: absolute;
    top: 10%;
    left:5px;
    display: flex;
    font-size: 45px;
}

.MeetSelect .MeetVoice {
    text-decoration: none;
    position: absolute;
    top: 35%;
    left: 5px;
    display: flex;
    font-size: 20px;
    text-align: center;
}

.MeetSelect div {
    /* text-align: center; */
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    color: rgba(255, 255, 255, 0.877);
    font-family: 'Sigmar One', cursive;
}

.MeetSelect .MeetText, .MeetVoice {
    width: 45%;
    height: 20%;
    background: linear-gradient(to top, #990099 0%, #ff99cc 100%);
    border-radius: 30px;
    margin: 10px auto 10px;
    box-shadow: 2px 2px 5px black;
}