.HistoryItem {
    display: flex;
    flex-direction: row;
    height: 40px;
    background: blanchedalmond;
    margin-bottom: 5px;
    padding: 5px;

    .name {
        width: 300px;
    }

    .plus, .des {
        width: 50px;
    }

    div {
        align-self: center;
    }
}