@import "../../components/css/component.scss";

@mixin back_base_color {
    background: linear-gradient(to top, #990099 0%, #ff99cc 100%);
}

.Home {
    @include position(absolute, $top: 0, $left: 0);
    @include box_size(100%, 100%);
    @include back_base_color;
    margin: 0;
    padding: 0;

    .title {
        @include position(absolute, $top: 10%, $left: 50%);
        transform: translateX(-50%) translateY(-50%);
        font-size: 4rem;

        .sub {
            text-align: center;
            font-size: 20px;
        }
    }

    .mainPage {
        @include position(absolute, $top: 53%, $left: 50%);
        @include box_size(300px, 450px);
        transform: translateX(-50%) translateY(-50%);

        .desc {
            font: {
                weight: bold;
                size: 20px;
            }
        }
    }

    .start {
        @include position(absolute, $top: 85%, $left: 50%);
        transform: translateX(-50%) translateY(-50%);

        .btn {
            @include box_size(200px, 70px);
            @include back_base_color;
            
            border: none;
            border: {
                radius: 50px;
                bottom: 5px solid black;
                right: 5px solid black;
            }

            font-size: 2rem;
            color: rgba(255, 255, 255, 0.541);
            transition: 1.5s all;
            cursor: pointer;

            &:hover {
                width: 300px;
                border: 5px solid black;
                color: black;
                background: none;
            }
        }
    }
}