@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');

.NavBar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: rgb(255, 255, 255);
    border-top: 3px solid rgba(0, 0, 0, 0.349);
    border-radius: 10px 10px 0 0;
    z-index: 2000;
    font-family: 'Sigmar One', cursive;
}

.NavBar ul {
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.NavBar ul a {
    /* width: 100%; */
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    /* padding: 10px; */
    /* margin-left: 20px;
    line-height: 30px; */
    text-decoration: none;
    color: black;
}

.NavBar ul a:hover {
    color: rgb(170, 201, 230);
    cursor: pointer;
}

.NavBar ul .Now {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    color: black;
    cursor: pointer;
}

