@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');

.TopBar {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255);
    border-bottom: 3px solid rgba(0, 0, 0, 0.349);
    border-radius: 0 0 10px 10px;
    z-index: 2000;
    font-family: 'Sigmar One', cursive;
}

.TopBar ul {
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.TopBar ul li {
    padding: 15px;
    text-align: center;
}

.TopBar a {
    color: black;
    text-decoration: none;
}

.TopBar small {
    margin: 3px;
}

.TopBar a:hover {
    color: rgb(170, 201, 230);
}

.TopBar .TopName {
    margin-left: 20px;
    color: rgba(167, 85, 243, 0.726);
    flex-grow: 3;
    text-align: start;
}

.TopBar .randomchat {
    flex-grow: 1;
}

.TopBar .TopSet {
    text-align: end;
    margin-right: 20px;
}