@import "../../css/component.scss";

@mixin align {
  text-align: center;
}

@mixin input {
  margin-bottom: 20px;
  line-height: 30px;
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
  outline: none;

  &:focus {
    border: 2px solid blue;
    outline: none;
  }
}

@mixin div {
  margin-bottom: 10px;
}

.CreateRoom {
  @include position(absolute, $top: 50px);
  @include box_size($width: 100%);
  box-shadow: 2px 2px 2px gray;
  background: rgba(248, 248, 248, 0.774);

  .title {
    @include align;

    div {
      @include div;
      margin-top: 20px;
    }
    input {
      @include input;
    }
  }
  .tag {
    @include align;
    div {
      @include div;
    }
    input {
      @include input;
    }
  }
  .create {
    @include box_size(100px, 30px);
    margin: 20px 50% 0 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    border-radius: 20px;
    line-height: 30px;

    border: 2px solid black;
    background: rgba(255, 255, 255, 0.514);
    cursor: pointer;
  }
}
