@import url("https://fonts.googleapis.com/css?family=Patua+One&display=swap");

@mixin position(
  $position,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin box_size($width: null, $height: null) {
  width: $width;
  height: $height;
}

@mixin margin($top: null, $right: null, $bottom: null, $left: null) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

@mixin google_font {
  font-family: "Patua One", cursive;
}

@mixin Item {
  @include box_size($height: 50px);
  display: flex;
  flex-direction: row;
  margin: 7px;
  border: 2px solid gray;
  border-radius: 10px;
  background: white;
  cursor: pointer;
}
