@import "../../components/css/component.scss";

.Login {
    @include position(absolute, $top: 0, $left: 0);
    @include box_size(100%, 100rem);
    background: rgba(0, 0, 0, 0.479);
    z-index: 100;
    
    .main {
        @include position(absolute, $top: 5rem, $left: 15%);
        @include box_size(70%, 32%);
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background: rgb(231, 231, 231);

        .close {
            margin: 5px;
            text-align: center;
            border-radius: 50px;
            background: rgba(107, 107, 107, 0.514);
            transition: all 1.5s;
            cursor: pointer;

            &:hover {
                color: #FFFFFF;
                background: black; 
            }
        }

        .title {
            text-align: center;
            font-size: 2rem;
            margin-top: 5px;
            margin-bottom: 3px;
        }
    }

    .otherLogin {
        display: flex;
        flex-direction: row;

        div {
            font-size: 1.2rem;
            text-align: center;
            flex-grow: 1;
            margin: 5px;
            border-radius: 50px;
            background: rgba(107, 107, 107, 0.514);
            transition: all 1s;
            cursor: pointer;
            
            &:nth-child(1):hover {
                margin: 5px;
                color: rgba(255, 255, 255, 0.753);
                box-shadow: 1px 1px rgb(85, 85, 85);
                background: rgb(35, 35, 255);
            }

            &:nth-child(2):hover {
                margin: 5px;
                color: rgba(255, 255, 255, 0.753);
                box-shadow: 1px 1px rgb(85, 85, 85);
                background: linear-gradient(to bottom right, #0066ff -13%, #ffff00 104%);
            }
        }
    }

    .username {
        display: flex;
        flex-direction: column;
        margin: 10px;

        input {
            margin-left: 10px;
            margin-right: 10px;
            text-align: center;
            font-size: 20px;
            height: 50px;
        }
    }

    .password {
        display: flex;
        flex-direction: column;
        margin: 10px;

        input {
            margin-left: 10px;
            margin-right: 10px;
            text-align: center;
            font-size: 20px;
            height: 50px;
        }
    }

   .Sign {
        display: inline-block;
        border-radius: 50px;
        background-color: #020202b4;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 70%;
        transition: all 0.5s;
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 15%;

        &:hover {
            span {
                padding-right: 25px;

                &::after {
                    opacity: 1;
                    right: 0;
                }
            }
        }

        span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;

            &::after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }
        }
    }
    
    .Join {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 5px;
        
        span {
            text-align: center;
            margin: 3px;
            border-radius: 50px;
            background: rgba(107, 107, 107, 0.514);
            cursor: pointer;
            transition: all 1.5s;

            &:hover {
                color: #FFFFFF;
                background: black;
            }
        }
    }
}