@import "component.scss";

/* 메뉴 고정 후 무한 스크롤 */
.MyRoomItem {
    display: flex;
    flex-direction: row;
    height: 50px;
    background: white;
    cursor: pointer;
    margin: 7px;
    border: {
        bottom: 5px solid #ebebebbd;
        right: 5px solid #ebebebd0;
        radius: 10px;
    }

    /* 아이콘 component 필요 */
    .MyRoomImg {
        align-self: center;
        flex-grow: 1;
    }

    /* name 굵게??? */
    .name {
        flex-grow: 2;
        align-self: center;
    }

    .Chat {
        @include box_size(100px, 50px);
        align-self: center;
        flex-grow: 3;
        overflow: hidden;
        margin-right: 10px;
    }

    .GetMsg {
        margin-right: 5px;
        flex-grow: 1;
        text-align: center;
        align-self: center;
    }
}