@import "component.scss";

.TopBar {
    @include google_font;
    @include position(fixed, $top: 0, $left: 0);
    @include box_size(100%, 50px);
    background: white;
    z-index: 2000;

    .TopName {
        margin-left: 20px;
        color: rgba(167, 85, 243, 0.726);
        flex-grow: 3;
        text-align: start;
    }

    .randomchat {
        flex-grow: 1;
    }

    .TopSet {
        text-align: end;
        margin-right: 20px;
    }

    ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding-left: 0;
        list-style: none;

        li {
            padding: 15px;
            text-align: center;
        }
    }

    a {
        color: black;
        text-decoration: none;

        &:hover {
            color: rgb(170, 201, 230);
        }
    }

    small {
        margin: 3px;
    }
}